<div class="row">
   <div class="col-auto mt-4">
     <div class="font-xl text-secondary" *ngIf="recordsTotal === 0">
        <span>&nbsp;</span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Items'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Item'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-2">
        <ng-content select="table-simple-header-tools"></ng-content>
      </div>
    </div>
</div>

