<div class="col-12">
  <h2 class="text-secondary">Active students</h2>
</div>

<div class="col-12">
  <app-advanced-table-search [mergeQueryParams]="true" [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="table">
  </app-advanced-table-search>
</div>

<div class="col-12">
  <app-table-simple-header [table]="table">
    <table-simple-header-tools>
      <a *ngIf="table.selected && table.selected.length" class="text-danger text-decoration-none mr-2"
        href="javascript:void(0)" href="javascript:void(0)">
        <span class="mr-1">-</span><span [translate]="'Tables.RemoveItem'"></span>
      </a>
      <a class="text-indigo text-decoration-none  mr-2" href="javascript:void(0)">
        <span class="mr-1">+</span><span [translate]="'Tables.AddItem'"></span>
      </a>
      <a class="text-indigo text-decoration-none universis-btn-export" href="javascript:void(0)">
       <i class="far fa-file-excel mr-2"></i><span [translate]="'Export'"></span>
      </a>
    </table-simple-header-tools>
  </app-table-simple-header>
  <app-advanced-table #table [configSrc]="'/assets/tables/table2.config.json'"></app-advanced-table>
</div>
